  
  {% extends 'shared/_MainLayout.html' %} 
  {% block content %}
 <div >
 <ul class="nav nav-tabs">
    {% for c in category %}
      {% if c.parent == None %}
        <li class = "nav_item">
          <a href="/">{{ c.title }}</a>
        </li>
          {% if c.children.all %}
          <ul class = "navbar-nal ml-auto">
            {% for c in c.children.all %}
              <li class = "nav-item">
                <a href="/">{{ c.title }}</a>
              </li>
            {% endfor %}  
          </ul>
          {% endif %}  
        </li>
      {% endif %}
    {% endfor %}
  
</ul>
</div>
  {% endblock %}
 