{% extends 'shared/_MainLayout.html' %} 
{% block content %}
<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul class="nav navbar-nav">
            <ul class="nav navbar-nav collapse navbar-collapse">
            <li class="active"><a href="/" style="color:#000000;"><font size="2">خانه</font></a></li>
            <li class="dropdown">
               <a href="/category/تبلیغات و بازاریابی" class="dropdown" role="menu" style="color:#000000;"><font size="2">تبلیغات و بازاریابی</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">تبلیغات آنلاین</a></li>
                    <li><a href="/" style="color:white;">تبلیغات ایمیلی و پیامکی</a></li>
                    <li><a href="/" style="color:white;">بهینه سازی برای موتورهای جستجو (سئو)</a></li>  
                </ul>
            </li>
            <li class="dropdown">
                <a href="/" class="dropdown"  role="menu" style="color:#000000;"><font size="2">تایپ، ترجمه و نویسندگی</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">تولید محتوا و نویسندگی برای کسب و کار ها</a></li>
                    <li><a href="/" style="color:white;">ترجمه متن</a></li>
                    <li><a href="/" style="color:white;">تایپ متن و ورود اطلاعات</a></li>
                    <li><a href="/" style="color:white;">تحقیق و گزارش</a></li>
                    <li><a href="/" style="color:white;">ویراستاری متن</a></li>
                    <li><a href="/" style="color:white;">رونویسی از صدا</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/" class="dropdown" role="menu" style="color:#000000;"><font size="2">گرافیک</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">طراحی لوگو</a></li>
                    <li><a href="/" style="color:white;">طراحی کارت ویزیت ، کاتالوگ و ست اداری</a></li>
                    <li><a href="/" style="color:white;">طراحی انواع پوستر و بنر</a></li>
                    <li><a href="/" style="color:white;">طراحی کاور، جلد، بسته بندی و صفحه آرایی</a></li>
                    <li><a href="/" style="color:white;">طراحی UI / UX</a></li>
                    <li><a href="/" style="color:white;">روتوش و ویرایش عکس</a></li>
                    <li><a href="/" style="color:white;">معماری ، نقشه‌کشی و مدل های سه بعدی</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/" class="dropdown" role="menu" style="color:#000000;"><font size="2">برنامه نویسی</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">طراحی سایت و برنامه نویسی وب</a></li>
                    <li><a href="/" style="color:white;">طراحی اپلیکیشن موبایل</a></li>
                    <li><a href="/" style="color:white;">نرم افزارهای مهندسی</a></li>  
                </ul>
            </li>
            <li class="dropdown">
                <a href="/" class="dropdown" role="menu" style="color:#000000;"><font size="2">دستیار مجازی</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">مدیریت سایت و شبکه های اجتماعی</a></li>
                    <li><a href="/" style="color:white;">طرح کسب و کار و تحقیق صنعت و بازار</a></li>
                    <li><a href="/" style="color:white;">آموزش و مشاوره کسب و کار و مسیر شغلی</a></li>  
                </ul>
            </li>
            <li class="dropdown">
                <a href="/" class="dropdown" role="menu" style="color:#000000;"><font size="2">انیمیشن</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">تیزر و انیمیشن دو بعدی</a></li>
                    <li><a href="/" style="color:white;">انیمیشن سه بعدی</a></li>
                    <li><a href="/" style="color:white;">ساخت ، ویرایش و زیرنویس فیلم و کلیپ</a></li>  
                </ul>
            </li>
            <li role="menu" class="sub-menu">
                <a href="/" class="dropdown" role="menu" style="color:#000000;"><font size="2">موسیقی و صدا</font><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                    <li><a href="/" style="color:white;">گویندگی و دوبله</a></li>
                    <li><a href="/" style="color:white;">ویرایش صدا و موسیقی</a></li>
                    <li><a href="/" style="color:white;">نوازندگی و آهنگ سازی</a></li>  
                </ul>
            </li>
        <li><a href="/contact" style="color:#000000;"><font size="2">تماس با ما</font></a></li>
        <li><a href="/about_us" style="color:#000000;"><font size="2">درباره ما</font></a></li>
        </ul>
        </ul>
        </div>
        {% include 'components/_search_component.html' %} 
        </div>
    </div>
{% endblock %}