{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <b style="text-align : center;">
        <h3> پرداخت با شکست مواجه شده است. در صورت کسر شدن از حساب، ظرف مدت ۴۸ ساعت پول به حساب شما بازخواهد گشت. </h3>
        <br><br>
        <h3>
            در این پروژه فرض شده است که با فشردن دکمه ی انصراف عملیات پرداخت با <strong style="color: red;">موفقیت</strong> انجام شده است و سفارش گیگ نیز ثبت
            شده است.
        </h3>
        <br><br>
        <h4><a href="{% url 'gig:my-purchases' %}"> بازگشت </a> به صفحه خرید های من </h4>
    </b>
{% endblock %}
