{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

<div class="container">
    <section id="form">
        <!--form-->

        <div class="col-sm-5 col-sm-offset-6">
            <div class="login-form">

                <h2>ورود به حساب کاربـری :</h2>

                <form method="POST">

                    {% csrf_token %}
                    {{ form }}

                    <button type="submit" class="btn btn-default">ورود</button>
                </form>
                    
            </div>
        </div>
    </section>
</div>

{% endblock %}