{% extends 'shared/_MainLayout.html' %}

{% block content %}

<div class="main"> 
    <!-- Create a Form -->
    <form method="POST" style="text-align: center;"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
        <p style="color: orangered; font-size: 20px;">        آیا از پاک کردن نظر خود اطمینان دارید ؟
        </p>
        <input type="submit" style="opacity: 0.8; font-size: 12px; width:70px;height:25px; color: green;" value="پاک کن بره"/> 
        <a href="javascript:history.back()" class="btn btn-default" style="opacity: 0.8; font-size: 12px; width:61px;height:25px; color: red;">نگهش دار </a> 
    </form> 
</div> 
<br>
<br>

{% endblock %}