{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8" style="align-items: center;margin-left: 200px">
                <form method="POST">
                    {% csrf_token %}

                    {{ comment_form }}

                    <br><br>
                    <button type="submit" class="btn btn-success">
                        {{ option }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <br><br>
    <br><br>

{% endblock %}