{% block content %}
<div class="fade active in" id="reviews">
    <div class="col-sm-12">
        <ul>
            <div style="margin-right: 10px;">

                <br>
                <h2>دیدگاه ها</h2>

                <ul>
                    <h4 style="text-align: center;"> {{ info.count }} دیدگاه برای این گیگ ثبت
                        شده است</h4>
                    {% for i in info %}
                    <blockquote>
                        <p>
                            {% if i.user.profile.image %}
                            <img src="{{ i.user.profile.image.url }}" alt="" height="40px" width="40px" style="border-radius: 100px; margin-left: 10px;">
                            {% else %}
                           
                            {% endif %}
                            <span style="color: rgb(20, 36, 37);
                                    opacity: 0.7;"> {{ i.publish }} </span>
                            <span style="color: rgb(255, 153, 0);">•</span>
                            <span style="color: rgb(20, 36, 37); opacity: 0.7;">{{ i.user }}
                            </span>
                        <p>{{ i.content }}</p>
                        </p>

                        <ul
                            style="font-size: 15px; opacity: 0.8; font-family: Arial, Helvetica, sans-serif;">

                        </ul>
                    </blockquote>
                    {% if user.id == i.user.id %}
                    <a href="{% url 'gig:delete_comment' i.id %}" class="btn btn-default"
                        style="opacity: 0.8; font-size: 12px; width:46px;height:25px;">حذف</a>
                    <a href="{% url 'gig:update_comment' i.id %}" class="btn btn-default"
                        style="opacity: 0.8; font-size: 12px; width:58px;height:25px;">ویرایش</a>
                    {% endif %}
                    {% if request.user.id == gig.user.id %}
                    <button type="button" name="comment_id"
                        class="toggle-replies btn btn-default btn-outline-dark" value="{{ i.id }}">پاسخ</button>
                    {% endif %}

                    <div class="toggle-form container" style="display: none;">

                        <div id="ex1" class="form-group row">


                            <form method="POST" style="width: 45%;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ i.id }}">
                                {{ cmform.as_p }}
                                <br>
                                <button type="submit" class="save btn btn-default"
                                    style="border-radius: 5px;">افزودن دیدگاه</button>

                            </form>
                        </div>
                        <br>

                        <br>
                        <!-- <a href="#" rel="modal:close" class="btn btn-default">بستن</a> -->
                    </div>

                    <br>
                    <div class="container" style="margin-right: 100px;">
                        <div class="form-group row">
                            {% for r in i.replies.all %}
                            <p> در پاسخ به <span style="opacity: 0.7;">{{ i.user.username }}</span></p>
                                    

                            <blockquote>
                                <p>
                                    {% if r.user.profile.image %}
                                    <img src="{{ r.user.profile.image.url }}" alt=""
                                        height="40px" width="40px"
                                        style="border-radius: 100px; margin-left: 10px;">
                                    {% else %}
                                    
                                    {% endif %}

                                    <span style="color: rgb(20, 36, 37);
                                        opacity: 0.7;"> {{ r.publish }} </span>
                                    <span style="color: rgb(255, 153, 0);">•</span>
                                    <span style="color: rgb(20, 36, 37); opacity: 0.7;">{{ r.user }} </span>
                                        

                                </p>

                                <ul
                                    style="font-size: 15px; opacity: 0.8; font-family: Arial, Helvetica, sans-serif;">
                                    {{ r.content }}
                                </ul>
                                {% if user.id == gig.user.id %}
                                <a href="{% url 'gig:delete_comment' r.id %}"
                                    class="btn btn-default"
                                    style="opacity: 0.8; font-size: 12px; width:46px;height:25px;">حذف</a>
                                <a href="{% url 'gig:update_comment' r.id %}"
                                    class="btn btn-default"
                                    style="opacity: 0.8; font-size: 12px; width:58px;height:25px;">ویرایش</a>
                                {% endif %}
                            </blockquote>
                            
                            {% endfor %}
                        </div>

                    </div>
                    <br>
                    <hr
                        style=" border-width: 1px; border-color: rgb(255, 153, 0); opacity: 0.4;">
                    {% endfor %}
                </ul>
                <div class='col-md-12'>
                    <div class='col-md-6 col-md-offset-3'>

                        {% if user.is_authenticated %}

                        {% if buyer %}
                        {% for i in buyer %}
                        {% if i.client and i.client == request.user and request.user.id != gig.user.id %}
                        <header>
                            <h3><b>دیدگاه خود را به اشتراک بگذارید </b></h3>
                        </header>
                        <div style="text-align: center;">
                            <button type="button" name="button" class=" btn btn-default" id='toggle-comment' style="font-size: 20pt; background-color: rgb(11, 43, 61);">⮛</button>
                            <form method="POST" id="toggle-cm-form" style="display: none;">
                                {% csrf_token %}

                                {{ cmform.as_p }}
                                <br>
                                <button type="submit" class="save btn btn-default">افزودن
                                    دیدگاه</button>
                            </form>
                            <br>
                        </div>
                        {% else %}
                        <p></p>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p>no buyers for this gig</p>
                        {% endif %}
                        {% else %}
                        <a style="color: rgb(255, 153, 0); font-size: 16px;"
                            href="/accounts/login?next={{request.path}}"><span
                                style="color: rgb(15, 49, 49);">برای به
                                اشتراک گذاری دیدگاه خود به حساب
                                کاربـری</span><span><b> وارد</b></span><span
                                style="color: rgb(15, 49, 49);">
                                شوید </span></a>

                        {% endif %}

                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
{% endblock %}