{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block title %}مشخصات گیگ{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            {% if gig.image %}
                            <img src="{{ gig.image.url }}" alt="" style="border-radius: 20px;">
                            {% else %}
                            <img src="{% static 'images/product-details/1.jpg' %}" alt="" style="border-radius: 20px;">
                            {% endif %}

                        </div>


                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="">
                            <div>
                                <h2>{{ gig.title }}</h2>

                            </div>
                            <div>
                                <span>
                                    <span>قیمت : {{ gig.re_format_cost }} تومان</span>
                                </span>
                                <form method="post" action="{% url 'order:add-order' %}">
                                    {% csrf_token %}
                                    <span>
                                        <label> مهلت به روز :</label>
                                        {{ order_form.deadline }}
                                        {{ order_form.gig_id }}
                                        {% for error in order_form.count.errors %}
                                        <p style="color: red">{{ error }}</p>
                                        <br>
                                        {% endfor %}
                                    </span><br><br>
                                    <button type="submit" class="btn btn-fefault cart pull-right"
                                        style="border-radius: 10px;">
                                        <i class="fa fa-shopping-cart"></i>
                                        افـزودن به سبـد خریـد
                                    </button>

                                </form>
                            </div>
                            <br>
                            <div><br><br>
                                <p><b>وضعیت ارائه دهنده :</b> فعال</p>
                                <p><b>نام و نام خانوادگی : </b><a href="{% url 'proFile:profile' gig.user.id %}">
                                        {{ gig.user.get_full_name }} </a>
                                </p>
                            </div>
                            <br>

                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        border-top-left-radius: 45px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;">
                            <li><a href="#details" data-toggle="tab">جزئیات</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">درباره سازنده</a></li>
                            <li><a href="#tag" data-toggle="tab">برچسب</a></li>
                            <li class="active"><a href="#reviews" data-toggle="tab">دیدگاه ها ({{ info.count }})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">
                            <div class="col-md-12">
                                <p>{{ gig.description }}</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="companyprofile">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tag">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                            <h2>1.250.000 ريال</h2>
                                            <p>توضیحات کوتاه محصول</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fade active in main-comment-section" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <div style="margin-right: 10px;">

                                        <br>
                                        <ul>
                                            {% if info.count > 0 %}
                                            <h4 style="text-align: center; color: rgb(67, 8, 122);"> {{ info.count }}
                                                دیدگاه برای این گیگ ثبت
                                                شده است</h4>
                                            {% else %}
                                            <h4 style="text-align: center; color: rgb(67, 8, 122);">
                                                اولین نفری باشید که دیدگاه خود را به اشتراک میگذارد.</h4>
                                            {% endif %}
                                            {% for i in info %}
                                            <blockquote>
                                                <p>
                                                    {% if i.user.profile.image %}
                                                    <img src="{{ i.user.profile.image.url }}" alt="" height="40px"
                                                        width="40px" style="border-radius: 100px; margin-left: 10px;">
                                                    {% else %}
                                                    <img src="{% static 'images/product-details/1.jpg' %}" alt=""
                                                        height="40px" width="40px"
                                                        style="border-radius: 100px; margin-left: 10px;">
                                                    {% endif %}
                                                    <span
                                                        style="color: rgb(20, 36, 37); opacity: 0.7; font-size: 10pt; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ i.user }}
                                                    </span>
                                                    <span style="color: rgb(108, 10, 138);">•</span>
                                                    
                                                    <span
                                                        style="color: rgb(20, 36, 37);
                                                            opacity: 0.7; font-size: 10pt; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ i.time_ago }}</span>
                                                <p>{{ i.content }}</p>
                                                </p>

                                                <ul
                                                    style="font-size: 15px; opacity: 0.8; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

                                                </ul>
                                            </blockquote>
                                            {% if user.id == i.user.id %}
                                            <a href="{% url 'gig:delete_comment' i.id %}" class="btn btn-default"
                                                style="opacity: 0.8; font-size: 12px; width:46px;height:25px;">حذف</a>
                                            <a href="{% url 'gig:update_comment' i.id %}" class="btn btn-default"
                                                style="opacity: 0.8; font-size: 12px; width:58px;height:25px;">ویرایش</a>
                                            {% endif %}
                                            {% if request.user.id == gig.user.id %}
                                            <button type="button" name="comment_id"
                                                class="toggle-replies btn btn-default btn-outline-dark"
                                                style="border-radius: 10px;" value="{{ i.id }}">پاسخ</button>
                                            {% endif %}

                                            <div class="toggle-form container" style="display: none;">

                                                <div id="ex1" class="form-group row">


                                                    <form method="POST" class="reply-form-ajax" action="."
                                                        style="width: 45%; border-radius: 20px;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="comment_id" value="{{ i.id }}">
                                                        {{ cmform.as_p }}
                                                        <br>
                                                        <button type="submit" class="save btn btn-default"
                                                            style="border-radius: 5px;">افزودن دیدگاه</button>

                                                    </form>
                                                </div>
                                                <br>

                                                <br>
                                                <!-- <a href="#" rel="modal:close" class="btn btn-default">بستن</a> -->
                                            </div>

                                            <br>
                                            <div class="container" style="margin-right: 100px;">
                                                <div class="form-group row">
                                                    {% for r in i.replies.all %}
                                                    <p> در پاسخ به <span
                                                            style="opacity: 0.7; font-size: 10pt; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ i.user.username }}</span></p>


                                                    <blockquote>
                                                        <p>
                                                            {% if r.user.profile.image %}
                                                            <img src="{{ r.user.profile.image.url }}" alt=""
                                                                height="40px" width="40px"
                                                                style="border-radius: 100px; margin-left: 10px;">
                                                            {% else %}
                                                            <img src="{% static 'images/product-details/1.jpg' %}"
                                                                alt="" height="40px" width="40px"
                                                                style="border-radius: 100px; margin-left: 10px;">
                                                            {% endif %}

                                                            <span
                                                                style="color: rgb(20, 36, 37); opacity: 0.7; font-size: 10pt; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ r.user }} </span>
                                                            <span style="color: rgb(108, 10, 138)">•</span>
                                                            
                                                                <span
                                                                style="color: rgb(20, 36, 37);
                                                                opacity: 0.7; font-size: 10pt; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                                                                {{ r.time_ago }} </span>

                                                        </p>

                                                        <ul
                                                            style="font-size: 20px; opacity: 0.9; font-family: Arial, Helvetica, sans-serif;">
                                                            {{ r.content }}
                                                        </ul>
                                                        {% if user.id == gig.user.id %}
                                                        <a href="{% url 'gig:delete_comment' r.id %}"
                                                            class="btn btn-default"
                                                            style="opacity: 0.8; font-size: 12px; width:46px;height:25px;">حذف</a>
                                                        <a href="{% url 'gig:update_comment' r.id %}"
                                                            class="btn btn-default"
                                                            style="opacity: 0.8; font-size: 12px; width:58px;height:25px;">ویرایش</a>
                                                        {% endif %}
                                                    </blockquote>

                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <br>
                                            <hr style=" border-width: 1px; border-color: rgb(68, 3, 88); opacity: 0.4;">
                                            {% endfor %}
                                        </ul>
                                        <div class='col-md-12'>
                                            <div class='col-md-6 col-md-offset-3'>

                                                {% if user.is_authenticated %}

                                                {% if buyer %}
                                                {% for i in buyer %}
                                                {% if i.client and i.client == request.user and request.user.id != gig.user.id %}
                                                <header>
                                                    <h3><b>دیدگاه خود را به اشتراک بگذارید </b></h3>
                                                </header>
                                                <div style="text-align: center;">
                                                    <button type="button" name="button" class=" btn btn-default"
                                                        id='toggle-comment'
                                                        style="font-size: 6pt; background-color: rgb(11, 43, 61); border-radius: 40px;">⮛</button>
                                                    <form method="POST" class="comment-form-ajax" action="."
                                                        id="toggle-cm-form">
                                                        {% csrf_token %}

                                                        {{ cmform.as_p }}
                                                        <br>
                                                        <button type="submit" class="save btn btn-default"
                                                            style="border-radius: 40px;">افزودن
                                                            دیدگاه</button>
                                                    </form>
                                                    <br>
                                                </div>
                                                {% else %}
                                                <p></p>
                                                {% endif %}
                                                {% endfor %}
                                                {% else %}
                                                <b>
                                                    <p style="color: rgb(76, 0, 92);">• تنها کاربرانی که گیگ را خریداری
                                                        کرده اند ، میتوانند دیدگاه خود را به اشتراک بگذارند •</p>
                                                </b>
                                                {% endif %}
                                                {% else %}
                                                <a style="color: rgb(255, 153, 0); font-size: 16px;" href="/accounts/login?next={{request.path}}"><span style="color: rgb(15, 49, 49);">برای به اشتراک گذاری دیدگاه خود به حساب کاربـری</span><span><b> وارد</b></span><span style="color: rgb(15, 49, 49);"> شوید </span></a>

                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/category-tab-->


            </div>

        </div>
</section>
<script>
    $(document).ready(function () {
        $(".toggle-replies").click(function () {
            $(".toggle-form").animate({
                height: 'toggle'
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#toggle-comment").click(function () {
            $("#toggle-cm-form").animate({
                height: 'toggle'
            });
        });
    });
</script>


{% endblock %}