{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block title %}مشخصات گیگ{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                {% if gig.image %}
                                    <img src="{{ gig.image.url }}" alt="" style="border-color:#42075b;border-width: 5px;" >
                                    <a href="{{ gig.image.url }}"><h3>دانلود عکس</h3></a>
                                {% else %}
                                    <img src="{% static 'images/product-details/1.jpg' %}" alt="" style="border-color:#42075b;border-width: 5px;>
                                {% endif %}
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item">
                                    </div>
                                    <div class="item active">
                                    </div>
                                    <div class="item">
                                    </div>

                                </div>

                                <!-- Controls -->
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="">
                                <div>
                                    <h2>{{ gig.title }}</h2>

                                </div>
                                <div>
									<span>
										<span>قیمت : {{ gig.re_format_cost }} تومان</span>
									</span>
                                    {% if not request.user == gig.user %}
                                        <form method="post" action="{% url 'order:add-order' %}">
                                            {% csrf_token %}
                                            <span>
                                    <label> مهلت به روز :</label>
                                        {{ order_form.deadline }}
                                        {{ order_form.gig_id }}
                                                {% for error in order_form.deadline.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                    <br>
                                                {% endfor %}
                                    </span><br><br>

                                            <button type="submit" class="btn btn-fefault cart pull-right">
                                                <i class="fa fa-shopping-cart"></i>
                                                افـزودن به سبـد خریـد
                                            </button>
                                        </form>
                                    {% else %}
                                        <br><br>  <a href="{% url 'gig:edit_gig' gig.id %}">
                                        <button class="btn" style="background-color: #42075b;color: whitesmoke">
                                            ویرایش گیگ
                                        </button>
                                    </a>

                                    {% endif %}
                                </div>
                                <br>
                                <div><br><br>
                                    <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>وضعیت ارائه دهنده :</b> فعال</p>
                                    <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>نام و نام خانوادگی : </b><a
                                            href="{% url 'proFile:profile' gig.user.id %}">{{ gig.user.get_full_name }} </a>
                                    </p>
                                    <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>گروه مربوطه : </b><a
                                            href="/gigs/grouping/{{ gig.field.title }}">{{ gig.field.title }} </a>
                                    </p>
                                </div>
                                <br>

                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab">جزئیات</a></li>
                                <li><a href="#reviews" data-toggle="tab">نظرات</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="details">
                                <div class="col-md-12">
                                    <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>{{ gig.description }}</b></p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="companyprofile">
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tag">
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/home/gallery.jpg' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reviews">
                                <div class="col-sm-12">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>مشتـری 1</a></li>
                                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 ب . ظ</a></li>
                                        <li><a href=""><i class="fa fa-calendar-o"></i>29 تیـر 1397</a></li>
                                    </ul>
                                    <p><b>نظـر خود را بنویسیـد</b></p>

                                    <form action="#">
										<span>
											<input type="text" placeholder="نام و نام خانوادگـی">
											<input type="email" placeholder="آدرس ایمیـل">
										</span>
                                        <textarea name=""></textarea>
                                        <b>رتبـه : </b> <img src="{% static 'images/product-details/rating.png' %}"
                                                             alt="">
                                        <button type="button" class="btn btn-default pull-left">
                                            ارسـال
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div><!--/category-tab-->
                </div>
            </div>
    </section>

{% endblock %}