{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}تماس با ما{% endblock %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for item in contactform %}
        <li{% if message %} class="{{ messages }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1 class="text-right">تماس با ما</h1><br />

    
<div class="row">
  <div class="col-md-6">
    <form method="POST">
    {% csrf_token %}
        {{form}}
        <input class="btn btn-primary" type="submit" value="ارسال" /><br /><br />
      </form>
  </div>
  
  <div class="row">
  <div class="col-md-5">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13860267.45937489!2d44.66259511470009!3d31.99196332073942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef7ec2ec16b1df1%3A0x40b095d39e51face!2sIran!5e0!3m2!1sen!2s!4v1615100861798!5m2!1sen!2s" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <br/> <br/><br/>
    <b>خدمات مشتری:</b> <br />
    شماره تماس: 00000000 021<br />
    ایمیل: <a href="mailto:support@mysite.com">support@mysite.com</a><br />
    <b>دفتر مرکزی:</b><br />
    شماره تماس: 00000000 021<br />
    ایمیل: <a href="mailto:usa@mysite.com">usa@mysite.com</a><br />
  </div>
</div>
</div>

</div>
<br/><br/><br/>

{% endblock %}