{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}تماس با ما{% endblock %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1 class="text-right">تماس با ما</h1><br />

<div class="row">
  <div class="col-md-8">
      <form action="/post" method="POST">
        <input class="form-control" name="name" placeholder="نام و نام خانوادگی" /><br />
        <input class="form-control" name="email" placeholder="ایمیـل" /><br />
        <input class="form-control" name="subject" placeholder="موضوع" /><br />
        <textarea class="form-control" name="text" placeholder="متن خود را بنویسید" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="ارسال" /><br /><br />
      </form>
  </div>
  
  <div class="col-md-4">
    <b>Customer service:</b> <br />
    Phone: +1 129 209 291<br />
    E-mail: <a href="mailto:support@mysite.com">support@mysite.com</a><br />
    <br /><br />
    <b>Headquarter:</b><br />
    Company Inc, <br />
    Las vegas street 201<br />
    55001 Nevada, USA<br />
    Phone: +1 145 000 101<br />
    <a href="mailto:usa@mysite.com">usa@mysite.com</a><br />


    <br /><br />
    <b>Hong kong:</b><br />
    Company HK Litd, <br />
    25/F.168 Queen<br />
    Wan Chai District, Hong Kong<br />
    Phone: +852 129 209 291<br />
    <a href="mailto:hk@mysite.com">hk@mysite.com</a><br />


  </div>
</div>
</div>

{% endblock %}