{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block title %}درباره ی ما{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-9"></div>
        <div style="text-align: justify">
            <h1>درباره ما</h1>
            <br><br>
            <h4 style="line-height: 30px">
                امروزه با پیشرفت تکنولوژی و افزایش ضریب استفاده از اینترنت، شکل و مفهوم
                کار دستخوش تغییرات زیادی شده است. این تغییرات فرصت‌‌های فراوانی را در اختیار کارآفرینان،
                متخصصین و افراد علاقه‌مند به تکنولوژی‌‌های جدید‌‌ می‌گذارد.
            </h4>
            <br/>
            <h4 style="line-height: 30px">
                فریلنسینگ یا دورکاری، شیوه ای از کار است که در آن متخصصین، بدون نیاز به حضور دائمی در دفتر کار یا تعهد
                بلند مدت
                به یک شرکت، به صورت پروژه ای، خدمات حرفه ای خود را به کسب و کارها ارائه می‌دهند. همگام شدن با تغییرات و
                شیوه‌‌های جدید، رمز موفقیت هر فرد یا سازمان موفقی است.
                 <a href="/"><strong
                         style="color: darkmagenta">Fiverr</strong></a>
                     به منظور تسهیل ارائه خدمات و
                افزایش رقابت پذیری کسب و کارها و همچنین فراهم آوردن فرصت کاری برابر برای متخصصین، اقدام به طراحی پلتفرم
                برون
                سپاری پروژه‌‌های کوچک و بزرگ نموده است.
            </h4>
            <h4 style="line-height: 30px">
                هدف اصلی
                <a href="/"><strong
                        style="color: darkmagenta">Fiverr</strong></a>
                    فراهم آوردن امکان دسترسی به بازار کار و اشتغال برای متخصصین در گوشه و
                    کنار کشور
                    است. ما معتقدیم مهارت و دانش در همه جا وجود دارد و برابر بودن فرصت‌‌های کاری برای افراد باعث رونق و
                    شکوفایی
                    بیشتر اقتصادی‌‌می‌شود. معتقدیم فعالیت ما ضمن کمک به افزایش اشتغال زایی و ایجاد فرصت های کاری برابر،
                    بستری تعاملی
                    و دسترسی سریع و حرفه ای برای کسب و کارها ، صاحبان ایده و کارآفرینان برای رفع نیازهای حرفه ای و ارتقا
                    کسب
                    و کار
                    ایجاد‌‌می‌کند.
            </h4>
            <br><br><br>
            <div class="row">
                <div class="col-sm-12 about-address">
                    <address>
                        <p style="font-size:20px;line-height: 40px;">
                            عنوان : {{ about.title }} |
                            آدرس : {{ about.address }} |
                            شماره تماس : {{ about.phone_number }}
                            | آدرس ایمیل :{{ about.email }}
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

