{% extends 'shared/_MainLayout.html' %}

{% load static %}

{% block title %}لیست سفارش ها{% endblock %}

{% block content %}

    <div>
        <h1 class="h3 bg-danger text-white p-2 text-center">سبد خرید</h1>
      {% if orders %}
      <table class="table table-success table-hover">
        <thead>
          <th>gig picture</th>
          <th>gig username</th>
          <th>gig name</th>
          <th>gig description</th>
          <th>gig price</th>
          <th>gig status</th>
        </thead>
        {% for order in orders %}
        <tbody>
            <td><img src="{{order.thumbnail.url}}" title="{{order.gig}}" height="100" width="100"></td>
          <td>{{order.user}}</td>
          <td>{{order.gig}}</td>
          <td>{{order.description}}</td>
          <td>{{order.price}}</td>
          <td>{{order.status}}</td>
          <td>
            <a href="{{order.slug}}">
                <button class="btn btn-success buy" data-id="{{order.slug}}">Detail</button>
            </a>
          </td>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <p>there is no Order in the database</p>
      {% endif %}
    </div>

{% endblock  %}

    