# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\RASTAVA\djangoprojects\Rastava_Fiverr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
